.perfil-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}


.perfil-container ul{
    list-style: none;
}

.perfil-container ul li {
    display: flex;
    padding: 10px;
    background: #FFF;
    border-radius: 8px;
    position: relative;
    margin-bottom: 1em;
}

.perfil-container ul li img{
    width: 40%;
    padding-right: 3em;
}
.perfil-container ul li p{
    padding-left: 5%;
    width: 100%;
}

.atributos{
    width: 50%;
}

.perfil-container ul li button {
    position: absolute;
    background: #FFF;
    right: 24px;
    top: 24px;
    border: 0;
    
}

.cabecalho{
    display: flex;
    padding-bottom: 1em;
}
.cabecalho .button {
    margin-left: auto;
    width: auto;
    height: auto;
    font-weight: 400;
    background-color: #e02041;
    margin-top: 0px;
    text-align: center;
    text-decoration: none;
    font-size:  18px;
    line-height: 18px;
    padding: 8px;
    transition: filter 0.2s;
}

